{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% crispy form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block section %}
<div class="row">
    <div class="col-xs-5">
        <form action="" method="post">{% csrf_token %}

            {{ el_form|crispy}} <br>
            <p>Digite su nombre para llevar el registro</p>

 <input type="submit" class="btn btn-primary" value="Compilar">
</form>
    </div>
    <div class="col-xs-3">

        <div id="codigo">

        <h6>{{codigo}}</h6> <br>
        {{ texto|linebreaksbr}}
            <br>
            <b>Valor de variables</b><br>
            <p>{{variable}}</p>
            </div>

        </div>

    <div class="col-xs-4">
<div class="panel panel-info">
    <div class="panel-heading">Usuario Recientes</div>
    <div id="registro">
    {% for elemento in registro %}
    <p>   {{ elemento }}</p>

    {%endfor%}
        </div>
</div>

    </div>

<div class="col-xs-12">
    <h4>Output:</h4>
{% if error_flag == 0 %}
    <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ log }}</div>
{% else %}
    <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ log }}</div>
{% endif %}
</div>

{% endblock section %}


</body>
</html>